.card {
    display: flex;
    background: linear-gradient(90deg, #fbc2d4 10%, #ff6d9b 90%);
    color: #222;
    padding: 20px;
    width: 60%;
    border-radius: 5px;
}

.left {
    width: 40%;
}

.left img {
    width: 100%;
}

.rigth {
    width: 60%;
    padding-left: 30px;
    padding-top: 20px;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-wrap: balance;
}

.body {
    height: 100%;
}

.description {
    height: 75%;
    text-align: start;
    text-wrap: balance;
}

.details {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-weight: 600;
    font-size: 1.1rem;
}

.title {
    display: none;
}

@media screen and (max-width: 900px) {
    .card {
        width: 100%;
    }

    .card.cardReversed {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 650px) {
    .card {
        height: 250px;
    }

    .body {
        display: flex;
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .rigth {
        width: 100%;
        padding: 0;
    }

    .title {
        display: block;
        font-size: 1.3rem;
        margin-bottom: 0.7rem;
        padding-bottom: 0.3rem;
        color: #7e7e7e;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid #979797;
    }

    .description {
        height: auto;
        flex: 1;
        text-wrap: wrap;
    }

    .details {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .card {
        height: 350px;
    }
}
