.contactContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.contactContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100.1%;
    background-image: url("/contact.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 500px 500px;
}

.contactInfo {
    position: absolute;
    top: 20%;
    right: 3%;
    text-align: end;
    z-index: 1;
}

.contactInfo img {
    max-height: 110px;
    height: 6dvw;
}

.contactInfo h2 {
    margin-top: -1rem;
}

.formContainer {
    position: absolute;
    top: 22%;
    left: 40%;
    width: 30%;
    min-width: 350px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.contactForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contactForm label {
    text-align: start;
    margin-bottom: 1rem;
    font-weight: 600;
}

.contactForm input {
    display: block;
    width: 100%;
    margin-top: 0.2rem;
    height: 1.8rem;
    background-color: #fff;
    border: none;
    color: #222;
    padding-inline: 10px;
}

.contactForm label:nth-child(3) {
    margin-bottom: 0.2rem;
}

.contactForm input:focus {
    outline: none;
}

.contactForm textarea {
    margin-bottom: 2rem;
    background-color: #fff;
    border: none;
    color: #222;
    padding: 10px;
}

.contactForm textarea:focus {
    outline: none;
}

.contactForm button {
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 1rem;
    color: #e25c7f;
    background-color: #fff;
    padding: 0.8rem 1.5rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.25s ease;
    position: relative;
    overflow: hidden;
    border-color: #fff;
    border-width: 2px;
    border-style: outset;
}

.contactForm button:hover,
.contactForm button:focus {
    box-shadow: 0 0 10px #fff;
    color: #fff;
    background-color: #e25c7f;
    outline: none;
}
.loader {
    position: fixed;
    left: 52%;
    top: 58%;
    /* transform: translate(-50%, -50%); */
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    mask: conic-gradient(from 15deg, #0000, #000);
    animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
    background: radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000)
            50% 0/20% 80% repeat-y,
        radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80%
            20% repeat-x;
}
.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
}
.loader:after {
    transform: rotate(60deg);
}

@keyframes l26 {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1080px) {
    .contactInfo {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .contactContainer::before {
        background-position-x: -10dvw;
        background-position-y: calc(100% + 5vw);
    }

    .contactContainer::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        inset: 0 0 0 0;
    }

    .contactInfo {
        top: max(15%, 130px);
        right: 0;
        padding-right: 5%;
    }

    .formContainer {
        left: 50%;
        transform: translateX(-50%);
        top: max(100px, 22%);
    }
}

@media screen and (max-width: 768px) {
    .contactInfo {
        top: max(15%, 130px);
        right: 0;
        padding-right: 5%;
    }

    .contactInfo img {
        width: 80%;
        filter: drop-shadow(0 0 1px rgb(0, 0, 0));
        filter: drop-shadow(0 0 10px rgb(255, 255, 255));
    }

    .contactInfo h2 {
        margin-top: 0rem;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 650px) {
    .contactInfo img {
        width: 95%;
    }

    .contactInfo h2 {
        margin-top: 0rem;
        font-size: 1.25em;
    }
}

@media screen and (max-width: 500px) {
    .contactContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-top: 100px;
    }

    .formContainer {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        box-shadow: none;
    }
}

/* @media (min-height: 650px) {
    .formContainer {
        top: 350px;
    }
} */
