.loginContainer {
    margin-top: 130px;
    height: calc(100% - 230px);
    align-content: center;
}

.loginLayout {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid #fff; */
    border-radius: 10px;
    padding: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.loginFormContainer {
    padding-inline: 20px;
}

.loginBtn {
    display: block;
    background-color: #fb6896;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #f5f5f5;
    outline: none;
    width: 50%;
    border-radius: 4px;
    transition: 0.3s ease;
    margin: 0 auto;
}

.loginBtn:not(:disabled):hover,
.loginBtn:not(:disabled):focus {
    background-color: #e25c7f;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    cursor: pointer;
    outline: none;
}

.loginBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
