.cancelBtn {
    width: 150px;
    height: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
    position: relative;
    margin-inline: auto;
}

.cancelBtn,
.cancelBtn span {
    transition: 200ms;
}

.cancelBtn span:first-child {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.cancelBtn span:last-child {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelBtn svg {
    width: 15px;
    fill: #eee;
}

.cancelBtn:not(:disabled):hover {
    background: #ff3636;
}

.cancelBtn:not(:disabled):hover span:first-child {
    color: transparent;
}

.cancelBtn:not(:disabled):hover span:last-child {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.cancelBtn:focus {
    outline: none;
}

.cancelBtn:active span:last-child svg {
    transform: scale(0.8);
}

.cancelBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.cancelledStatus,
.activeStatus {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    width: 100px;
    border-radius: 1rem;
    text-transform: uppercase;
}
.cancelledStatus {
    background-color: red;
}

.activeStatus {
    background-color: green;
}

@media (max-width: 1024px) {
    .cancelBtn span:last-child {
        opacity: 0;
        visibility: hidden;
        transform: translateX(90px);
    }
    .cancelBtn {
        width: 90px;
    }
    .cancelBtn span:first-child {
        transform: translateX(0);
        margin-inline: auto;
    }
    .cancelBtn:not(:disabled):hover span:last-child {
        opacity: 1;
        visibility: visible;
        width: 90px;
        border-left: none;
        transform: translateX(0);
    }
}

@media (max-width: 800px) {
    .cancelledStatus {
        color: red;
        width: 1rem;
        height: 1rem;
        overflow: hidden;
        position: relative;
    }

    .cancelledStatus::before {
        content: url("./close.svg");
        position: absolute;
        inset: 0 0 0 0;
    }

    .activeStatus {
        color: green;
        width: 1rem;
        height: 1rem;
        overflow: hidden;
        position: relative;
    }

    .cancelBtn span:last-child {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
        border-left: none;
        width: 30px;
        height: 30px;
    }
    .cancelBtn span:first-child {
        opacity: 0;
        visibility: hidden;
    }
    .cancelBtn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .cancelBtn:not(:disabled):hover span:last-child {
        opacity: 1;
        visibility: visible;
        width: 90px;
        border-left: none;
        transform: translateX(0);
    }
}
