#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 100%;
    height: 90vh;
    position: relative;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    background: linear-gradient(82.3deg, #e25c7f 40%, #ff92b4 94%);
}

@media (max-width: 900px) {
    .mainContainer {
        height: 100%;
    }
}
