.navbarLinksContainer {
    position: relative;
    width: 50%;
}

.menuToggle {
    display: none;
}

.navbarLinks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    padding-right: 5rem;
}

.navbarLinks li {
    list-style: none;
    text-transform: capitalize;
}

.navbarLinks li a {
    font-weight: 600;
    transition: color 0.25s linear, -webkit-text-stroke 0.25s linear;
    position: relative;
}

.navbarLinks li a::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.navbarLinks li a:hover::before {
    transform: scaleX(1);
}

.navbarLeft,
.navbarRight {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
}

.burgerMenu,
.closeBtn {
    display: none;
}

.burgerLabel,
.closeLabel {
    cursor: pointer;
    display: none;
}
@media (max-width: 900px) {
    .navbarLinksContainer {
        position: relative;
        width: 75%;
    }

    .burgerLabel {
        display: block;
        margin-right: 2rem;
        text-align: end;
    }

    .navbarLinks {
        height: calc(100dvh);
        background-color: rgba(255, 146, 180, 0.7);
        backdrop-filter: blur(20px);
        position: fixed;
        inset: 0 0 0 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: end;
        gap: 2rem;
        font-size: 1.3rem;
        transform: translateX(100%);
        transition: 0.5s ease;
        padding-top: 80px;
    }

    .navbarLeft,
    .navbarRight {
        flex-direction: column;
    }

    .menuToggle:checked ~ .navbarLinks {
        transform: translateX(0);
    }

    .menuToggle:checked ~ .burgerLabel {
        display: none;
    }

    .closeLabel {
        display: block;
        transform: translateX(100vw);
        transition: 0.5s ease;
    }
    .menuToggle:checked ~ .closeLabel {
        transform: translateX(0);
        z-index: 1;
        position: absolute;
        top: -2rem;
        right: 2rem;
    }
}

@media (max-width: 767px) {
    .navbarLinksContainer {
        text-align: end;
    }

    .burgerLabel {
        display: block;
        margin-right: 1rem;
    }
}
