.navbarLinks {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.navbarLinks li {
    list-style: none;
    text-transform: uppercase;
}

.navbarLinks li a {
    font-weight: 600;
    transition: color 0.25s linear, -webkit-text-stroke 0.25s linear;
    position: relative;
}

.navbarLinks li a::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.navbarLinks li a:hover::before {
    transform: scaleX(1);
}
