.navbarLogo {
    margin-left: 4rem;
    position: relative;
}

.navbarLogo img {
    max-height: 80px;
    min-height: 50px;
    height: 10vw;
}

@media screen and (max-width: 767px) {
    .navbarLogo {
        margin-left: 1rem;
    }
}
